 html {
     position: relative;
 }

 li {
     list-style: none;
     font-size: 20px;

 }

 ul {
     gap: 11px;
 }

 ul li a {
     color: #fff;
 }

 .atas {
     background-color: rgb(38, 38, 134);

 }

 .bawah {
     color: #fff;
     font-family: sans-serif;
     background-color: rgb(38, 38, 134);

 }

 h4 {
     padding: 1%;
     height: 25px;

 }

 body {
     margin-top: 100px;
 }

 hr {
     width: 230px;
     border-top: 4px solid rgb(153, 153, 153);

 }

 .about img {
     width: 160px;
     border: 4px solid #fff;
 }

 .about {
     height: 600px;
 }

 section {
     height: 1580px;
 }

 .agenda img {
     width: 280px;
     height: 170px;
     border: 5px solid;
 }

 .gallery img {
     box-sizing: border-box;
     padding-bottom: 3%;

 }

 .gallery .container {
     justify-content: flex-start;
     display: flex;
 }

 footer {
     position: fixed;
     bottom: 0;
     width: 100%;
     height: 60px;
     /*background-color: rgb(38, 38, 134);*/
     /* padding-top: 6px; */
     /*color: #fff;*/
     /* margin-top: 6px; */
     margin-bottom: auto;


 }

 .artikel {
     box-sizing: border-box;
     display: flexbox;

 }